<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.securitybeginner.mapper.UserMapper">

  <resultMap id="targetUserMap" type="applicationUser">
    <result column="id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="password" property="password"/>
    <result column="user_name" property="userName"/>
    <result column="is_locked" property="accountLocked"/>
    <result column="is_enabled" property="accountEnabled"/>
    <result column="last_login_dt" property="lastLoginDateTime"/>
    <result column="create_dt" property="createDate"/>
    <collection property="roles" ofType="com.practice.securitybeginner.enums.Role">
      <result column="role_name" property="name"/>
    </collection>
  </resultMap>

  <select id="findUserById" parameterType="String" resultMap="targetUserMap">
    SELECT U.id,
           U.user_id,
           U.password,
           U.user_name,
           R.role_name,
           U.is_locked,
           U.is_enabled,
           U.last_login_dt,
           U.create_dt
    FROM user_t AS U
    JOIN user_role_t AS UR
    ON U.id = UR.user_id
    JOIN role_t AS R
    ON UR.role_id = R.role_id
    WHERE U.user_id = #{userId}
  </select>

  <insert id="createUser" parameterType="applicationUser">
    INSERT INTO user_t
    VALUES (
      #{userId},
      #{password},
      #{userName},
      false,
      true,
      NOW(),
      NOW()
    )
  </insert>

  <insert id="createUserRoles" parameterType="applicationUser">
      INSERT INTO user_role_t
      <foreach collection="roles" item="role" separator=" UNION ALL ">
          SELECT
              CAST(#{userId} AS VARCHAR) as USER_ID,
              (SELECT ROLE_ID FROM role_t WHERE ROLE_NAME = CAST(#{role} AS VARCHAR))
          FROM DUAL
      </foreach>
  </insert>

  <update id="updateLastLoginDate" parameterType="applicationUser">
    UPDATE user_t
    SET LAST_LOGIN_DT = #{lastLoginDateTime}
    WHERE id = #{id}
  </update>


</mapper>